<% provide :title, t("sign_up") %>
<h1><%= t "sign_up" %></h1>

<%= render "shared/error_message" %>

<%= form_for @user, url: signup_path do |f| %>
  <%= f.label :name, t("name") %>
  <%= f.text_field :name %>
  <%= f.label :email, t("email") %>
  <%= f.email_field :email %>
  <%= f.label :password, t("password") %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation, t("confirmation") %>
  <%= f.password_field :password_confirmation %>
  <br>
  <%= f.submit t("create_my_account"), class: "btn btn-primary" %>
<% end %>
